{% extends "cvjd/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="heading" style="margin-bottom:60px;">
    <a href="{%url 'index' %}"><h3 class="text-center">Candidate to CV Matching Score Report</h3></a>
</div>
{% for job,candidates in all_matches.items %}
    <div class="job">
        <!-- {{job}} -->
        <h4><a href="{% url 'jobwise_results' job %}">{{job}}</a></h4>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Candidate</th>
                <th scope="col">Score</th>
                <th scope="col">Email</th>
                <th scope="col">Nationality</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <!-- {% if forloop.counter < 11 %} -->
            <tr>
                {% if candidate.candidate.cv.drive_url %}
                    <td><a target="_blank" href="{{candidate.candidate.cv.drive_url}}">{{candidate.candidate.name}}</a></td>
                {% else %}
                    <td><a href="{% url 'candidates' id=candidate.candidate.id %}">{{candidate.candidate.name}}</a></td>
                {% endif %}
                <td>{{candidate.score | stringformat:'d' }} %</td>
		<td><a href="mailto:{{candidate.email}}">{{candidate.email}}</td>
                <td>{{candidate.nationality}}</td>
		<td><a href="tel:{{candidate.phone}}">{{candidate.phone}}</td>
            </tr>
            <!-- {% endif%} -->
        {% endfor %}
    </tbody>
</table>
<hr>
<br><br>
{% endfor %}
{% endblock %}
